#bjTable {
    border: 3px solid black;
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
    background-color: #1a281f;
    color: #cccccc;
    font-size: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
}

#player, #house {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 50%;
}

.playInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 20%;
    padding: 2px;
    margin: 2px;
}

#playerInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.bjButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

#player-hand{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80%;
    width: 100%;
    padding: 2px;
    margin: 2px;
}

#house-hand{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80%;
    width: 100%;
    padding: 2px;
    margin: 2px;
}

#house-hand .card:nth-child(2), #player-hand .card:nth-child(2){
    transform: translateX(-123px);
}
#house-hand .card:nth-child(3), #player-hand .card:nth-child(3){
    transform: translateX(-246px);
}
#house-hand .card:nth-child(4), #player-hand .card:nth-child(4){
    transform: translateX(-369px);
}
#house-hand .card:nth-child(5), #player-hand .card:nth-child(5){
    transform: translateX(-492px);
}
#house-hand .card:nth-child(6), #player-hand .card:nth-child(6){
    transform: translateX(-615px);
}
#house-hand .card:nth-child(7), #player-hand .card:nth-child(7){
    transform: translateX(-738px);
}

.bjButtons button {
    font-family: Rockwell sans-serif;
    width: 150px;
    height: 90%;
    font-size: 24px;
    margin: 10px;
    border-radius: 8px;
    color: #ada8b6;
    background: none;
    border: 3px solid #ada8b6;
}

#bet-amount {
    height: 75%;
    font-size: 1em;
    font-family: Rockwell sans-serif;
    width: 10%;
}

.bjButtons button:hover, #stop:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#stop {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    color: #b80c09;
    border: 2px solid #b80c09;
    font-family: "Arial Black", serif ;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    width: 50px;
    z-index: 100;
}

.card {
    height: 100%;
}
