#pokerTable-Flex {
    border: 3px solid black;
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #1a281f;
    color: #cccccc;
    font-size: 24px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
    font-family: Rockwell sans-serif;
}

.pokerCol {
    width: 33%;
    height: 33%;
}

#poker-buttons, #play-div, #draw-buttons {
    align-items: center;
    justify-items: center;
}

#poker-buttons button, #draw-buttons button, #play-div button {
    font-family: Rockwell sans-serif;
    width: 150px;
    font-size: 20px;
    margin: 3px;
    border-radius: 8px;
    color: #ada8b6;
    background: none;
    border: 3px solid #ada8b6;
    display: none;
}

#poker-buttons button:hover, #stop:hover, #draw-buttons button:hover, #play-grid button:hover, #buy-in-screen button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#stopPoker {
    position: relative;
    background: none;
    color: #b80c09;
    border: 2px solid #b80c09;
    font-family: "Arial Black", serif ;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    width: 50px;
    z-index: 100;
}

#cpu1-hand, #cpu2-hand, #cpu3-hand, #poker-player-hand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
}

#cpu1-hand img, #cpu2-hand img, #cpu3-hand img, #poker-player-hand img{
    max-width: 82px;
    max-height: 125px;
}

#cpu1-hand img:nth-child(2), #cpu2-hand img:nth-child(2), #cpu3-hand img:nth-child(2), #poker-player-hand img:nth-child(2){
    transform: translateX(-60px);
}
#cpu1-hand img:nth-child(3), #cpu2-hand img:nth-child(3), #cpu3-hand img:nth-child(3), #poker-player-hand img:nth-child(3){
    transform: translateX(-120px);
}
#cpu1-hand img:nth-child(4), #cpu2-hand img:nth-child(4), #cpu3-hand img:nth-child(4), #poker-player-hand img:nth-child(4){
    transform: translateX(-180px);
}
#cpu1-hand img:nth-child(5), #cpu2-hand img:nth-child(5), #cpu3-hand img:nth-child(5), #poker-player-hand img:nth-child(5){
    transform: translateX(-240px);
}

.playInfo p{
    font-size: 1em;
}

#buy-in-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 300px;
    border-radius: 8px;
    background-color: #555555;
    color: #E5E5E5;
    font-family: Rockwell sans-serif;
    font-size: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#buy-in-screen button {
    font-family: Rockwell sans-serif;
    width: 75%;
    font-size: 2em;
    margin: 3px;
    border-radius: 8px;
    color: #ada8b6;
    background: none;
    border: 3px solid #ada8b6;
}

#buy-in-amount {
    width: 50%;
    height: 2em;
    font-size: 1em;
    font-family: Rockwell sans-serif;
    background-color: #555555;
    border: 2px solid black;
    border-radius: 8px;
}

::placeholder {
    color: black;
    opacity: 0.3;
}

.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}