* {
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #212D40;
    font-family: Rockwell, sans-serif;
}

h2 {
    padding: 0;
    margin: auto;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: auto;
    padding: 5px;
    font-size: 4em;
    font-family: Rockwell, sans-serif;
    color: #cd5334;
}

#header img {
    width: 15%;
}

@media screen and (max-width: 1024px) {
    #logoName {
        display: none !important;
    }

    #header img {
        width: 40% !important;
    }

    #creators {
        display: none !important;
    }
}

@media screen and (max-width: 1180px){
    #ruleButtons {
        flex-direction: column !important;
        background-color: #FFE0B5 !important;
        border-radius: 8px 8px  0 0;
    }

    #openHoldemRules, #openBjRules, #openPokerRules {
        background-color: #FFE0B5 !important;
        color: black !important;
    }
}

#navBar {
    width: 90%;
    height: 10%;
    margin: auto;
    background-color: #cd5334;
    top: 0;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#navBarContent {
    position: relative;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
}

#mainLinks, #loginLinks, #userPanel {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

#mainLinks :hover {
    transform: scale(1.2);
}

#loginLinks :hover {
    transform: scale(1.2);
}

#userPanel, #loginLinks {
    display: none;
}

#userPanel *:nth-child(2n):not(:last-child) {
    padding-right: 1em;
}

#mainLinks a{
    line-height: 3em;
    padding: 0 0.75em;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

#mainLinks #active {
    background-color: #E5E5E5;
    cursor: pointer;
    color: black;
}

#loginLinks a, #userPanel a {
    line-height: 3em;
    padding: 0 0.75em;
    color: #E5E5E5;
    text-decoration: none;
}

#userPanel p {
    padding: 0;
    margin: auto;
}

#logOutButton {
    background-color: #c52233;
}

#mainContent {
    height: 70%;
    width: 75%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    color: white;
}

#mainContent #welcome {
    font-size: 3em;
}

#mainContent iframe {
    margin-top: 30px;
    margin-bottom: 100px;
    align-self: center;
}

#mainContent #creators {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px;
    align-self: center;
}

#creators .creator {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creator img {
    width: 50%;
}

.logonButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttonCancel, .buttonSubmit {
    background-color: #b80c09;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
}

.buttonSubmit {
    background-color: green;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.logonBackground {
    display: table;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50pt;
}

.logonScreen {
    background-color: #212D40;
    color: white;
    width: 500px;
    height: fit-content;
    padding: 20px;
    margin: 5px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 3px 9px black;
    position: relative;
    top: 250px;
}

.logonScreen h2 {
    flex: 1;
}

.logonScreen form {
    flex: 4;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.form {
    height: 100%;
}

.logonScreen h2 {
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-bottom: 25px;
    font-size: 42px;
}

#gameBackground {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50pt;
}


#games {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#games img {
    max-width: 350px;
    max-height: 350px;
    border-radius: 250px;
}

#games img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#ruleButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #212d40;
    padding: 0;
    margin: 0;
}

.gameRules {
    height: 70%;
    background-color: #FFE0B5;
    padding: 2em;
    color: black;
    font-family: "Helvetica", sans-serif;
}

#bjRules {
    display: none;
}

#pokerRules {
    display: none;
}

#holdemRules {
    display: none;
}

#ruleButtons div {
    font-family: Rockwell sans-serif;
    flex: 1;
    height: 100%;
    font-size: 2.2em;
    color: white;
    background: none;
    padding: 3px;
    text-align: center;
}

#ruleButtons div:hover{
    cursor: pointer;
}

#openBjRules {
    border-radius: 8px 0 0 0;
}

#openHoldemRules {
    border-radius: 0 8px 0 0;
}

.hidden {
    display: none;
}