* {
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #E5E5E5;
    font-family: Helvetica, sans-serif;
}

h2 {
    padding: 0;
    margin: auto;
}

#header {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    font-size: 42px;
    font-family: Rockwell, sans-serif;
}

#header img {
    max-width: 150px;
    max-height: 150px;
    float: left;
}

#navBar {
    height: fit-content;
    width: 100%;
    z-index: 100;
    margin: auto;
    background-color: #555555;
    position: sticky;
    top: 0;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#navBarContent {
    position: relative;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

#mainLinks, #loginLinks, #userPanel {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

#mainLinks :hover {
    transform: scale(1.2);
}

#loginLinks :hover {
    transform: scale(1.2);
}

#userPanel, #loginLinks {
    display: none;
}

#userPanel *:nth-child(2n):not(:last-child) {
    padding-right: 1em;
}

#mainLinks a{
    line-height: 3em;
    padding: 0 0.75em;
    color: #cccccc;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

#mainLinks #active {
    background-color: #E5E5E5;
    cursor: pointer;
    color: black;
}

#loginLinks a, #userPanel a {
    line-height: 3em;
    padding: 0 0.75em;
    color: #E5E5E5;
    text-decoration: none;
}

#userPanel p {
    padding: 0;
    margin: auto;
}

#logOutButton {
    background-color: #B80C09;
}

#mainContent {
    height: auto;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.logonButtons {
    float: bottom;
    margin: 10px;
}

.buttonCancel, .buttonSubmit {
    background-color: #b80c09;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
}

.buttonSubmit {
    background-color: green;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logonBackground {
    display: table;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50pt;
}

.logonScreen {
    background-color: #E5E5E5;
    width: 500px;
    height: fit-content;
    padding: 30px;
    margin: 5px auto;
    border-radius: 8px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.form {
    height: 100%;
}

.logonScreen h2 {
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-bottom: 25px;
    font-size: 42px;
}

#gameBackground {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50pt;
}

#bjTable {
    border: 3px solid black;
    position: relative;
    width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
    background-color: #1a281f;
    color: #cccccc;
    font-size: 24px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
}

#player, #house {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    width: 100%;
}

.playInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin: 2px;
}

#player-hand, #house-hand{
    position: relative;
    height: 280px;
    width: 100%;
    padding: 2px;
    margin: 2px;
}

#house-hand .card:nth-child(2), #player-hand .card:nth-child(2){
    transform: translateX(-123px);
}
#house-hand .card:nth-child(3), #player-hand .card:nth-child(3){
    transform: translateX(-246px);
}
#house-hand .card:nth-child(4), #player-hand .card:nth-child(4){
    transform: translateX(-369px);
}
#house-hand .card:nth-child(5), #player-hand .card:nth-child(5){
    transform: translateX(-492px);
}
#house-hand .card:nth-child(6), #player-hand .card:nth-child(6){
    transform: translateX(-615px);
}
#house-hand .card:nth-child(7), #player-hand .card:nth-child(7){
    transform: translateX(-738px);
}

#blackjack-buttons button {
    font-family: Rockwell sans-serif;
    width: 150px;
    font-size: 24px;
    margin: 10px;
    border-radius: 8px;
    color: #ada8b6;
    background: none;
    border: 3px solid #ada8b6;
}

#blackjack-buttons button:hover, #stop:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#stop {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    color: #b80c09;
    border: 2px solid #b80c09;
    font-family: "Arial Black", serif ;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    width: 50px;
    z-index: 100;
}

.card {
    max-width: 164px;
    max-height: 250px;
}

.hidden {
    display: none;
}

#games {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#games img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 250px;
}

#games img:hover {
    transform: scale(1.2);
    cursor: pointer;
}