* {
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #E5E5E5;
    font-family: Helvetica, sans-serif;
}

h2 {
    padding: 0;
    margin: auto;
}

#header {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 36px;
    font-family: Rockwell, sans-serif;
}

#header img {
    max-width: 150px;
    max-height: 150px;
    float: left;
}

#navBar {
    height: fit-content;
    width: 100%;
    z-index: 100;
    margin: auto;
    background-color: #555555;
    position: sticky;
    top: 0;
    padding: 5px;
}

#navBarContent {
    position: relative;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

#mainLinks, #loginLinks, #userPanel {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

#mainLinks :hover {
    transform: scale(1.2);
}

#loginLinks :hover {
    transform: scale(1.2);
}

#userPanel, #loginLinks {
    display: none;
}

#userPanel *:nth-child(2n):not(:last-child) {
    padding-right: 1em;
}

#mainLinks a{
    line-height: 3em;
    padding: 0 0.75em;
    color: #cccccc;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

#mainLinks #active {
    background-color: #E5E5E5;
    cursor: pointer;
    color: black;
}

#loginLinks a, #userPanel a {
    line-height: 3em;
    padding: 0 0.75em;
    color: #E5E5E5;
    text-decoration: none;
}

#userPanel p {
    padding: 0;
    margin: auto;
}

#logOutButton {
    background-color: #B80C09;
}

#mainContent {
    height: auto;
    max-width: available;
    padding: 0;
}

.logonButtons {
    float: bottom;
    margin: 10px;
}

.buttonCancel, .buttonSubmit {
    background-color: #b80c09;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
}

.buttonSubmit {
    background-color: green;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logonBackground {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50pt;
}

.logonScreen {
    background-color: #E5E5E5;
    width: 500px;
    height: fit-content;
    padding: 30px;
    margin: 5px auto;
    border-radius: 8px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.form {
    height: 100%;
}

.logonScreen h2 {
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-bottom: 25px;
    font-size: 42px;
}

#gameBackground {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50pt;
}

#bjTable {
    border: 3px solid black;
    position: relative;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px;
    align-self: center;
    background-color: #1a281f;
    color: #cccccc;
    font-size: 24px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}

#player, #house {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#player-hand, #house-hand{
    position: relative;
    width: min-content;
    height: fit-content;
}
#house-hand .card:last-child, #player-hand .card:last-child{
    transform: translateX(150px);
    z-index: 2;
}

#house-hand .card, #player-hand .card{
    z-index: 3;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

.hidden {
    display: none;
}